.slider {
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.slider-images {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.slider-image {
  width: 250px;
  height: 180px;
  margin: 8px;
  transition: 0.3s;
  border-radius: 5px;
}

.arrow {
  position: absolute;
  top: 43%;
  cursor: pointer;
}

.arrow:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

.arrow > img {
  width: 20px;
  height: 20px;
}

.arrow-left {
  left: -22px;
  transform: rotate(180deg);
}

.arrow-left:hover {
  transform: rotate(180deg) scale(1.2);
}

.arrow-right {
  right: -22px;
}

.slider-curr-image {
  box-shadow: 0 0 9px 3px rgba(0,0,0,.3);
}

.slider-prev-image, .slider-next-image {
  width: 230px;
  height: 160px;
  opacity: 0.5;
  cursor: pointer;
}

.slider-prev-image:hover, .slider-next-image:hover {
  opacity: 0.6;
}
